#tag-list{
	width: 30%;
	max-height: 200px;
	border:1px solid #CCC;
	overflow: auto;
	position: relative;
	z-index:9999;
	margin-bottom: 10px;
	display: none;
}
#tag-list ul
{
	padding-left: 4px;
	margin: 0px 0px 0px 0px;
}
#tag-list ul li{
	list-style: none;
	
}

#tag-list ul li:hover{
	background-color: #4498CD;
	color: #FFF;
	cursor: pointer;	
}