#tag-list, #user-list{
	width: 30%;
	max-height: 200px;
	border:1px solid #CCC;
	overflow: auto;
	position: relative;
	z-index:9999;
	margin-bottom: 10px;
	display: none;
}
#tag-list ul, #user-list ul
{	
	margin: 0px 0px 0px 0px;
	padding-left: 0px;
}
#tag-list ul li, #user-list ul li{
	list-style: none;
	padding-left: 4px;
}

#tag-list ul li:hover, #user-list ul li:hover{
	background-color: #4498CD;
	color: #FFF;
	cursor: pointer;	
}
.grid-notes:hover{
	border: 1px solid #C1E4FF;
}